<div class="home_container">
    <app-card 
        gameCover="assets/GOW.jpg"
        gameLabel="Remaster"
        gamePhrase="Play it now!"
        gameType="Digital PS3"
        gamePrice="69,90">
    </app-card>

    <app-card 
        gameCover="assets/GOW_A.jpg"
        gameLabel="Promotion"
        gamePhrase="Play it now!"
        gameType="Digital PS3"
        gamePrice="89,90">
    </app-card>

    <app-card 
        gameCover="assets/GOW_GOS.jpg"
        gameLabel="Promotion"
        gamePhrase="Play it now!"
        gameType="PS Portable"
        gamePrice="69,90">
    </app-card>

    <app-card 
        gameCover="assets/FIFA.jpg"
        gameLabel="Exclusive!"
        gamePhrase="Play it now!"
        gameType="Digital PS4"
        gamePrice="159,90">
    </app-card>

    <app-card 
        gameCover="assets/NFS_TR.jpg"
        gameLabel="Launch!"
        gamePhrase="Play it now!"
        gameType="Digital PS5"
        gamePrice="179,90">
    </app-card>

    <app-card 
        gameCover="assets/NFS_MW.jpg"
        gameLabel="Remaster"
        gamePhrase="Play it now!"
        gameType="Digital PS3"
        gamePrice="49,90">
    </app-card>

    <app-card 
        gameCover="assets/MK12.jpg"
        gameLabel="Best of Year!"
        gamePhrase="Play it now!"
        gameType="Digital PS3 | PS4 | PS5"
        gamePrice="169,90">
    </app-card>
</div>